<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true"/>
        <staticContent>
            <remove fileExtension=".svg" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <clientCache httpExpires="Sun, 29 Mar 2020 00:00:00 GMT" cacheControlMode="UseExpires" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, HEAD" />
                <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <clear/>
                <rule name="rule_rule" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>  
		<httpCompression>
		  <dynamicTypes>
			<clear />
			<add enabled="true"  mimeType="text/*"/>
			<add enabled="true"  mimeType="message/*"/>
			<add enabled="true"  mimeType="application/x-javascript"/>
			<add enabled="true"  mimeType="application/javascript"/>
			<add enabled="true"  mimeType="application/json"/>
			<add enabled="false" mimeType="*/*"/>
			<add enabled="true"  mimeType="application/atom+xml"/>
			<add enabled="true"  mimeType="application/atom+xml;charset=utf-8"/>
		  </dynamicTypes>
		  <staticTypes>
			 <clear />
			 <add enabled="true" mimeType="text/*"/>
			 <add enabled="true" mimeType="message/*"/>
			 <add enabled="true" mimeType="application/javascript"/>
			 <add enabled="true" mimeType="application/atom+xml"/>
			 <add enabled="true" mimeType="application/xaml+xml"/>
			 <add enabled="true" mimeType="application/json"/>
			 <add enabled="false" mimeType="*/*"/>
		   </staticTypes>
		 </httpCompression>		
    </system.webServer>
</configuration>